.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: #eee;
    
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 30px 10px;
}
.list-container{
    
background-color: white;
text-align: center;
margin: 30px 10px;


}
@media screen and (max-width: 576px) {
    .card-container{
        grid-template-columns: 1fr;
    }
}
@media (min-width: 576px) { .card-container{
    grid-template-columns: 1fr;
} }

@media (min-width: 768px) { .card-container{
    grid-template-columns: repeat(2, 1fr);
} }
@media (min-width: 992px) { .card-container{
    grid-template-columns: repeat(3,1fr);
} }