.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 30px 10px;
}
.list-container{
background-color: #B7C4CF;
text-align: center;
}

@media screen and (max-width: 780px) {
    .card-container{
        grid-template-columns: 1fr;
    }
}