.about-me{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Poppins', sans-serif;
    background-color: #B7C4CF;
}
/* .list-class{
    position: sticky;
    top: 0;
} */
.add-break button{
    border: none;
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
    border: 1px solid lightblue;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 
    5px 15px; */
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #000;
    /* margin: 0 -.25rem; */
    /* 0 .25rem */
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.add-break button:hover{
    box-shadow: inset 150px 0 0 0 #54b3d6;
    color: white;
}
.add-break{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 
5px 15px;
padding: 10px;
margin: 10px 0px;
background-color: #B7C4CF;
}
.exercise-details{
box-shadow: rgba(0, 0, 0, 0.35) 0px 
5px 15px;
padding: 10px;
}


.exercise-time{
display: flex;
justify-content: space-around;
align-items: center;
box-shadow: rgba(0, 0, 0, 0.35) 0px 
5px 15px;
background-color: #B7C4CF;
}
.break-time{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 
5px 15px;
margin-top: 10px;
background-color: #B7C4CF;
}
.button{
    border: none;
    padding: 20px;
    margin-top: 20px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 
    5px 15px;
font-size: 1.2rem;
color: inherit;
text-decoration: none;
background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.button:hover{
    background-size: 0 3px, 100% 3px;
}
.times{
color: red;
font-size: 1.4rem;
font-weight: bold;
}
.break{
    color: red;
    font-size: 1.4rem;
    font-weight: bold;
}
@media screen and (max-width: 576px) {
    .break-time{
        display: flex;
        flex-direction: column;
    }
    .exercise-time{
        display: flex;
        flex-direction: column;
    }
    .button{
       font-size: 1rem;
       padding: 10px;
    }
}

@media screen and (max-width:768px) {
    .break-time{
        display: flex;
        flex-direction: column;
    }
    .exercise-time{
        display: flex;
        flex-direction: column;
    }
    .button{
       font-size: 1rem;
       padding: 10px;
    }
}
.exercise{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 
5px 15px;
}