.cards{
    border-radius: 10px;
    border: 2px solid orange;
    padding: 10px;
    text-align: center;
    height: 600px;
    background-color: #eee;
}
.cards img{
    width: 286px;
    height: 286px;
    border-radius: 5px;
}
.btn{
background-color: #E94560;
padding: 10px;
border: none;
color: white;
font-size: 1.2rem;
border-radius: 8px;
}
@media screen and (max-width: 780px) {
    .cards img{
        width: 100%;
    }
}