.nav{
    background-color: #06283D;
    color: white;
    /* height: 80px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    
}
.nav-link a{
    text-decoration: none;
    color: white;
    margin-right: 1rem;
    --s: 0.1em;   /* the thickness of the line */
    --c: #1095c1; /* the color */
    
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;

}
.nav-link a:hover{
    --_p: 100%
}
.icon{
    color: #F96666;
}
.title{
font-size: 1.6rem;
font-family: 'Bungee Spice', cursive;
}
.blogs{
    font-size: 1.5rem;
}
@media screen and (max-width: 576px) {
    .nav{
        flex-direction: column;
    }
    .nav-link{
        display: flex;
        flex-direction: column;
        text-align: center;

    }
    .nav-link a{
        margin-bottom: 10px;
        border-radius: 10px;
        
        box-shadow: inset 0 0 0 0 #54b3d6;
        color: #fff;
        /* margin: 0 -.25rem; */
        /* 0 .25rem */
        padding: 1rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

    }
    .nav-link a:hover{
        box-shadow: inset 150px 0 0 0 #54b3d6;
        color: white;
        
        
    }
}