.nav{
    background-color: #06283D;
    color: white;
    /* height: 80px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    
}
.nav-link a{
    text-decoration: none;
    color: white;
    margin-right: 1rem;


}

.icon{
    color: #F96666;
}
.title{
font-size: 1.6rem;

}
.blogs{
    font-size: 1.5rem;
}
